.Reviews{
    margin: 225px 0 0 0;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    height: 357px;
}
.ReviewsWrapper{
    display: flex;
    padding: 1px 0 0 0;
}
.ReviewsCard{
    width: 536px;
    height: 187px;
    position: relative;
    margin: 0 auto;
}
.textWrapper{
    height: 187px;
    border-radius: 9px;
    box-shadow: 0px 0px 30px 0px #00000040;
    width: 536px;
    background: #FFFFFF;
    position: relative;
}
.textBlock{
    width: 536px;
    margin: -40px auto 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
.hexagon {
    position: absolute;
    left: 220px;
    top: -50px;
    width: 93px;
    height: 106px;
    position: relative;
    background-color: #000; 
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); 
  }
.border{
    width: 130px;
    height: 2px;
    margin: 21px auto 0;
    background-color: black;
}
.author{
    margin: 9px 0 0 0;
}
@media screen and (width < 1400px) {
    .Reviews{
        height: 948px;
    }
    .ReviewsWrapper{
        display: block;
    }
    .ReviewsCard{
        width: 536px;
        height: 187px;
        margin: 110px auto 0;
    }
    .textWrapper{
        width: 536px;
        height: 187px;
    }
    .hexagon {
        left: 221px;
      }
    .textBlock{
        margin: -40px auto 0;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        width: 445px;
    }
}
@media screen and ( width < 768px) {
    .Reviews{
        margin: 103px 0 0 0;
    }
    .textBlock{
        width: 207px;
        margin: 0 auto;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
    }
    .hexagon {
        left: 87px;
    }
    .textBlock{
        width: 207px;
    }
    .ReviewsCard{
        width: 267px;
        height: 210px;
        margin: 86px auto 0;
    }
}